<br><br><br><br>
<app-form-container>
    <h1>Log In</h1>
    <br><br><br>
    <form [formGroup]="loginForm">
        <div [class.disabled]="loginPending">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input 
                formControlName="email" 
                matInput 
                autocomplete="off"
                placeholder="Enter email">
                <mat-error>
                    Email is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input 
                formControlName="password"
                type="password" 
                matInput 
                autocomplete="off"
                placeholder="Enter password">
                <mat-error>
                    Password is required!
                </mat-error>    
            </mat-form-field>
        </div>
        <br><br><br>
        <app-center-container>
            <button 
            *ngIf="!loginPending"
            mat-raised-button 
            color="primary"
            (click)="login()">Login</button>
            <app-spinner-button *ngIf="loginPending"></app-spinner-button>
        </app-center-container>
    </form>
</app-form-container>
