<div class="root mat-elevation-z24">
    <mat-drawer-container>
        <mat-card>
            <mat-card-content>
                <h3>Bill #{{bill.id}}</h3>
                <div class="details">
                    <app-bold-text>Status: </app-bold-text>{{bill.status}}<br>
                    <app-bold-text>Curreny: </app-bold-text>{{bill.type}}<br>
                    <app-bold-text>Duration: </app-bold-text>{{bill.startDate | date: "dd MMM yyyy"}} - {{bill.endDate | date: "dd MMM yyyy"}}<br>
                    <app-bold-text>Base balance: </app-bold-text>{{bill.base | number: ".2"}} {{bill.type}}<br>
                    <app-bold-text>Interest: </app-bold-text>{{(bill.interest * 100) | number: ".2"}}%<br>
                    <app-bold-text>Current balance: </app-bold-text>{{bill.balance | number: ".2"}} {{bill.type}}<br>    
                </div>
                <app-spacer-container *ngIf="bill.status === 'ACTIVE'">
                    <span>
                        <button 
                        (click)="transction()"
                        mat-icon-button 
                        matTooltip="Transaction"
                        color="primary">
                            <mat-icon>attach_money</mat-icon>
                        </button>
                        <button 
                        (click)="renewal()"
                        mat-icon-button 
                        matTooltip="Renew"
                        color="accent">
                            <mat-icon>autorenew</mat-icon>
                        </button>
                        <button 
                        (click)="close()"
                        mat-icon-button 
                        matTooltip="Close"
                        color="warn">
                            <mat-icon>close</mat-icon>
                        </button>
                    </span>
                    <span>
                        <button 
                        (click)="drawerService.closeAllExceptOne(drawer); drawer.toggle()"
                        mat-icon-button 
                        matTooltip="More"
                        class="gray">
                            <mat-icon>{{drawer.opened ? 'fullscreen_exit' : 'details'}}</mat-icon>
                        </button>
                    </span>
                </app-spacer-container>
            </mat-card-content>
        </mat-card>    
    </mat-drawer-container>
    <mat-drawer #drawer position="end" mode="side" class="mat-elevation-z24">
        <mat-tab-group>
            <mat-tab [label]="'Transactions'">
                <app-transaction-details
                *ngFor="let trans of bill.transactions; let i = index"
                [transaction]="trans"
                [index]="i+1"
                [currency]="bill.type"
                ></app-transaction-details>
                <app-empty-container
                *ngIf="!bill.transactions.length" title="NO TRANSACTIONS"
                ></app-empty-container>
            </mat-tab>
            <mat-tab [label]="'Renewals'">
                <app-renewal-details
                *ngFor="let renewal of bill.renewals; let i = index"
                [renewal]="renewal"
                [index]="i+1"
                ></app-renewal-details>
                <app-empty-container
                *ngIf="!bill.renewals.length" title="NO RENEWALS"
                ></app-empty-container>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer>
</div>