@import "../../../../../styles/theme";

.left{
    flex: 1;
    margin-left: 30px;
}

.right{
    flex: 1;
    margin-right: 30px;
}

.big{
    height: 3.5rem;
    width: 3.5rem;
    font-size: 3.5rem;
}

.small{
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: $accent;
}