<app-spacer-container>
    <span class="left">
        <button 
        *ngIf="!pending && !pagination.firstPage"
        mat-icon-button 
        (click)="changedPage.emit(-1)">
            <mat-icon matTooltip="previous page" [class.big]="!small" [class.small]="small">navigate_before</mat-icon>
        </button>
    </span>
    <span class="right">
        <button 
        *ngIf="!pending && !pagination.lastPage"
        mat-icon-button 
        (click)="changedPage.emit(1)">
            <mat-icon matTooltip="next page" [class.big]="!small" [class.small]="small">navigate_next</mat-icon>
        </button>
    </span>
</app-spacer-container>    
