<div class="root">

    <div class="header">
        <h3>Password Change</h3>
    </div>

    <div class="content">
        <form [formGroup]="passwordForm">
            <input
            type="password"
            formControlName="oldPassword"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter old password">         
            <br>
            <input
            type="password"
            formControlName="newPassword"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter new password">       
            <br>
            <input
            type="password"
            formControlName="newPasswordConfirmation"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Confirm new password">           
        </form>
        <br><br>
        <app-spacer-container>
            <span>
                <button *ngIf="!savePending" mat-button (click)="dialogRef.close()" cdkFocusInitial>Cancel</button>
            </span>
            <span>
                <button *ngIf="!savePending" mat-button (click)="confirm()">Confirm</button>
                <app-spinner-button *ngIf="savePending"></app-spinner-button>
            </span>
        </app-spacer-container>    
    </div>
        
</div>
