@import "../../../../styles/theme";

.root{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    height: 60px;
}

.content{
    padding: 40px;
    padding-bottom: 30px;
}

input{
    width: 280px;
}

input.ng-invalid.ng-touched{
    border: 1px solid $warn;
}

input.ng-invalid.ng-touched::placeholder{
    color: $warn;
}