<app-preloader *ngIf="fetchPending"></app-preloader>

<app-empty-container *ngIf="!fetchPending && !notifications.length" [title]="'NO NOTIFICATIONS'"></app-empty-container>

<div *ngIf="!fetchPending && notifications.length">
    <br><br>
    <app-paginator
    [pending]="fetchPending"
    [pagination]="pagination"
    (changedPage)="changePage($event)"
    ></app-paginator>
    <div class="list">
        <app-notification-details
        *ngFor="let notification of notifications; let i = index"
        [notification]="notification"
        [index]="i+1"
        ></app-notification-details>    
    </div>
</div>