<div class="root">

    <div class="header">
        <h3>{{user.id ? 'Edit' : 'New'}} Sluzbenik</h3>
    </div>

    <div class="content">
        <form [formGroup]="userForm" (ngSubmit)="confirm()">
            <input
            formControlName="email"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter email"><br>  
            <input
            formControlName="firstName"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter first name"><br>    
            <input
            formControlName="lastName"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter last name">    
        </form>
        <br><br>
        <app-spacer-container>
            <span>
                <button *ngIf="!savePending" mat-button (click)="dialogRef.close()" cdkFocusInitial>Cancel</button>
            </span>
            <span>
                <button *ngIf="!savePending" mat-button (click)="confirm()">Confirm</button>
                <app-spinner-button *ngIf="savePending"></app-spinner-button>
            </span>
        </app-spacer-container>    
    </div>
        
</div>
