@import "../../../../styles/theme";

.root{
    border: 1px solid $gray;
    border-radius: 5px;
    margin: 10px;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $gray;
    opacity: 0.8;
    height: 30px;
    padding: 5px;
}

.mat-card{
    padding: 0
}

.text{
    padding: 10px;
}