<div class="root">

    <div class="header">
        <h3>Bill Renewal</h3>
    </div>

    <div class="content">
        <form (ngSubmit)="confirm()">
            <input
            maxlength="10"
            [formControl]="amount"
            [classList]="'form-control'"
            matInput 
            autocomplete="off"
            placeholder="Enter number of months">    
        </form>
        <br>
        <app-rule-response *ngIf="response?.valid==false" [small]="true">
            <app-bold-text>Error: </app-bold-text>{{response.message}}
        </app-rule-response>
        <br>
        <app-spacer-container>
            <span>
                <button *ngIf="!savePending" mat-button (click)="dialogRef.close()" cdkFocusInitial>Cancel</button>
            </span>
            <span>
                <button *ngIf="!savePending" mat-button (click)="confirm()">Confirm</button>
                <app-spinner-button *ngIf="savePending"></app-spinner-button>
            </span>
        </app-spacer-container>    
    </div>
        
</div>
