@import "../../../../styles/theme";

.root{
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $warn;
    height: 60px;
}

.content{
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
